.dashboard {
  display: flex;
  justify-content: space-around;

  .bonjour {
    text-align: left;
    font-family: Roboto;
    font-size: 48px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: start;
  }

  .name {
    color: red;
  }
  .nameAndGrafiks {
    display: flex;
    flex-direction: column;
  }

  .radar,
  .pie,
  .line {
    display: flex;
    margin: 15px;
    height: 263px;
    width: 258px;
    border-radius: 5px;
    background: red;
  }

  .radar {
    background: #282d30;
  }

  .pie {
    background: #fbfbfb;
    justify-content: center;
  }
  .score {
    background: #ffffff;
    align-self: center;
    border: 10px solid;
    border-image-source: conic-gradient(
      from 90deg at 50% 50%,
      #fbfbfb -55.42deg,
      #fbfbfb 180.95deg,
      #ff0000 180.98deg,
      #ff0000 304.55deg,
      #fbfbfb 304.58deg,
      #fbfbfb 540.95deg
    );
  }

  .otherGrafiks {
    display: flex;
  }

  .grafiksAndInfos {
    display: flex;
    flex-direction: column;
  }

  .grafiksBar {
    align-items: center;
    justify-content: center;
  }

  .bar {
    display: flex;
    height: 320px;
    width: 835px;
    background: #fbfbfb;
    border-radius: 5px;
  }
}
