.dashboard {
  display: flex;

  .bonjour {
    text-align: left;
    font-family: Roboto;
    font-size: 48px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: start;
    margin-left: 20px;
  }

  .name {
    color: red;
  }

  .felicitation {
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
    margin-left: 20px;
  }

  .nameAndGrafiks {
    display: flex;
    flex-direction: column;
    margin-left: 60px;
  }

  // .radar,
  // .pie,
  // .line {
  //   display: flex;
  //   margin: 15px;
  //   height: 263px;
  //   width: 258px;
  //   border-radius: 5px;
  // }

  // .pie {
  //   justify-content: center;
  // }
  // .score {
  //   background: #ffffff;
  //   align-self: center;
  //   border: 10px solid;
  //   border-image-source: conic-gradient(
  //     from 90deg at 50% 50%,
  //     #fbfbfb -55.42deg,
  //     #fbfbfb 180.95deg,
  //     #ff0000 180.98deg,
  //     #ff0000 304.55deg,
  //     #fbfbfb 304.58deg,
  //     #fbfbfb 540.95deg
  //   );
  // }

  // .otherGrafiks {
  //   display: flex;
  //   justify-content: space-between;
  //   align-items: center;
  //   margin-top: 25px;
  // }

  .grafiksAndInfos {
    display: flex;
    justify-content: space-between;
  }

  .grafiksBar {
    align-items: center;
    justify-content: center;
  }
  .grafiks {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .bar {
    display: flex;
    height: 320px;
    width: 835px;
    background: #fbfbfb;
    border-radius: 5px;
  }
}
