.header {
  display: flex;
  background-color: #020203;
  height: 91px;
  align-items: center;

  .logo {
    height: 60px;
    width: 177px;
    left: 28px;
    top: 18px;
  }

  .navbarTitles {
    display: flex;
    justify-content: space-around;
    color: #fff;
  }
}
