.home {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 200px;

  .mock12,
  .api12,
  .mock18,
  .api18 {
    cursor: pointer;
    border: none;
    border-radius: 3px;
    border-width: 1px;
    background: black;
    color: #fff;
    padding: 20px;
    font-size: 24px;
    font-weight: 700;
  }
}
