.home {
  display: flex;
  height: 100vh;
  a {
    text-decoration: none;
  }

  .dashboardBtn,
  .toggleBtn {
    cursor: pointer;
    border: none;
    border-radius: 3px;
    border-width: 1px;
    background: black;
    color: #fff;
    padding: 20px;
    font-size: 24px;
    font-weight: 700;
    margin: 20px;
  }
  .toggleBtn {
    color: black;
    background-color: #fbeaea;
  }
  .homeBtn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }
  .usersBtn {
    display: flex;
    justify-content: center;
  }

  .getUser {
    display: flex;
    justify-content: center;
  }
}
