.verticalbar {
  margin-left: 25px;
}
.vertical {
  background: #020203;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 117px;
}

.verticalLogo {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: black;
  width: 64px;

  .logoVerticalNavbar {
    width: 64px;
    height: 64px;
    margin-top: 25px;
  }
}
