@import url("https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Montserrat:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Roboto:wght@400;500;700&display=swap");
@media all and (min-width: 1200px) {
  body {
    font-family: "Roboto", sans-serif;
    width: 100%;
    margin: auto;
    min-width: 1024px;
  }

  li {
    list-style: none;
  }
}
